appdirs==1.4.4
asgiref==3.3.1
automium==0.2.6
automium-web==0.1.1
boto3==1.16.59
botocore==1.19.59
click==7.1.2
commonlibs==0.5.2
distlib==0.3.1
Django==3.1.5
django-crispy-forms==1.10.0
django-filter==2.4.0
django-replace-migrations==0.0.1
django-storages==1.11.1
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
legacy==0.1.6
MarkupSafe==1.1.1
model-framework==0.0.14
numpy==1.19.4
Pillow==8.1.0
psycopg2==2.8.6
python-dateutil==2.8.1
pytz==2020.5
s3transfer==0.3.4
schemadict==0.0.12
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
views==0.3
virtualenv==20.1.0
Werkzeug==1.0.1
whitenoise==5.2.0
django-embed-video==1.4.0
