<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
 <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
       <link rel="stylesheet" type="text/css" href=" {% static  'assets/css/font-awesome.css' %">
      <link rel="stylesheet" href="{% static 'assets/css/templatemo-training-studio.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <title> MG clinic </title>
<!--
-->
      <style>
          .go1 {
             text-align: center;
             margin-right: 100px;
margin-left:50px;
padding:100px;
          }
          .go1 p{
font-size:22px;
line-height:50px;
color:#000000;
text-align: right;
          }
          @media (max-weight: 1000){


          .go1 h3 {
    padding: 0px 43px;
}
.go1 p {
    font-size: 22px;
    line-height: 50px;
    color: #000000;
    text-align: right;
    }

    .go1 {
    text-align: center;
    /* margin-right: 100px; */
    /* margin-left: 50px; */
    padding: 22px;
}





          }

      </style>
    <!-- Additional CSS Files -->
    </head>
    <body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo"> <img src="{% static 'assets/images/1608070855306.png' %}" width="80px" height="45px" alt="waves"></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">

                            <li class="main-button"><a href="#">Sign Up</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>  </span>
                        </a>
                        <!-- ***** Menu End ***** -->
                         </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

                     <!-- ***** Main Banner Area Start ***** -->

    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">

                            </div>

















       <br>
            </div>
    </section>
    <!-- ***** Features Item End ***** -->
    <section class="go1">
<h1> العقم والحقن المجهرى </h1>
           <br>

      <h3 > تعد مشكلة العقم او تاخر الحمل من المشكلات الشائعه نسبيا والتى قد تنتج عن مشكلات صحية عند المراه والرجل ولكنها فى بعض الحالات لا يمكن تحديد السبب فى تاخر الحمل لذلك يجب فحص وتقييم الزوجيين طبيا لاكتشاف الاسباب  </h3>
        <h2> اسباب العقم </h2>
           <br>

       <p>
           بالنسبة للرجال يعد تحليل السائل المنوى اهم الاختبارات اللزمة للتاكد من سلامة الانجابية
           <br>
اما بالنسبة بللمرئة نحتاج الى عمل تحاليل بعض الهرمونات والاشعة سونار على الحرم والمبايض و والحوض
اشعة بالصبغة على الرحم والانابيب
واحيانا قد نلجاء لعمل مناظير البطن اوالرحم او كلاهما
لفحص الاعضاء التناسلية الداخلية ولعلاج بعض المشكلات مثل فك الانسدادات والتصاقات الانابيب
           <br>
التوعية والتثقيف قبل بداء العلاج
           <br>
 من الضرورى توعية الزوجين وتذكيرهما بقول الله تعالى (بسم الله الرحمن الرحيم لِلَّهِ مُلْكُ السَّمَاوَاتِ وَالْأَرْضِ يَخْلُقُ مَا يَشَاءُ يَهَبُ لِمَنْ يَشَاءُ إِنَاثًا وَيَهَبُ لِمَنْ يَشَاءُ الذُّكُورَ * أَوْ يُزَوِّجُهُمْ ذُكْرَانًا وَإِنَاثًا وَيَجْعَلُ مَنْ يَشَاءُ عَقِيمًا إِنَّهُ عَلِيمٌ قَدِيرٌ)
توعية الزوجين ان تاخر الحمل قد ينتج عن بعض الممارسات الخاطئة وبعض العوامل التى يمكن تجنبها دون الحاجة الى العلاج كما ان توقيت وعدد مرات ممارست العلاقة الزوجية لها دور مهم فى حدوث الحمل فممارست العلاقة بش يومى قد يكون سبب فى تاخر الحمل فى حين ان الموصي به هو اقامة العلاقة الزوجية كل يومين كما يفضل معرفة او تحديد مرات التبويض عند المراه
           <br>
بعض العوامل التي قد تؤثر على معدل الخصوبة
           <br>
السمنة او النحافة
           <br>
تناول المشروبات الكحولية او التدخين
           <br>
افراط المراة فى ممارس التمارين الرياضية
           <br>
وصول سن الياس اوالفشل المبكر للمبايض
           <br>
اضطراب التبويض او الاصابة بمتلازمة تكيس المبايض
           <br>
انسداد قناة فالوب (القنوات الرحمية )
           <br>
الفشل الوظيفى لقناة فالوب
           <br>
اورام الرحم الليفية وخاصة تحت المخاطية والمتداخلة مع تجويف الرحم
او المتواجدة فى عنق الرحم
           <br>
وجود زوائد لحمية داخل تجويف الرحم
           <br>
بطانة الرحم المهاجرة
           <br>
استخدام مواد خارجية قبل او اثناء او بعد العلاقة
مثل التشطيف المهبلى او الجل المستخدم لتسهيل العلاقة

       </p>
<h2>علاج العقم عند النساء</h2>
        <p>
يتم العلاج بعد تحديد اسباب العقم
علاج الحالات التى تعانى من اضطربات التبويض ويكون عن طريق المنشطات التبويضية وبعض الادوية المسئولة عن التحكم فى هرمونات الانوثة وبعض الادوية المسئولة عن انطلاق البويضة وتفجيرها وبعض الهرمونات التى تساعد على النمو المناسب لبطانة الرحم مثل كلمو فين لرفع كل من fsh و lh
جونادو تروبمين  fsh - lh
ويعمل على تحفيز المبايض مباشرتا لانتاج البويضات
ميتفورمين
ويستخدم غالبا فى حالت متلازمة تكيس المبايض
ليتروزول  ويستخدم فى حالت عدم نجاح الكلوموفين
كلبرجولين  ويستخدم فى حالات تاخر الحمل الناتجة عن زيادة هرمون اللبن
    </p>
<h2>  علاج تاخر الحمل جراحيا </h2>
<p>
اجراء جراحة عن طريق البطن او الرحم للتخلص من الاسباب الموجودة فى الرحم او المبايض او الانابيب وغالبا ما يتم التدخل عن طريق منظار البطن او منظار الرحم ويمكن من خلالها علاج الاتى
        <br>
ازالت اورام الرحم الليفية
        <br>
علاج متلازمة تكيس  المبايض
        <br>
علاج بطانة الرحم المهاجرة
        <br>
استاصال الزوائد اللحمية الرحمية
        <br>
ازالت التصاقات الانابيب والمبايض بالرحم والحوض
      <br>
        تصحيح بعد المشكلات الخلقية بالرحم
        <br>
تسليك انسداد قناة فالوب لربط وتسهيل عمل قناة فالوب فى حالت وجود التهاب او ارتشاح بالقناة
        <br>
      </p>
        <h2>  الاخصاب المساعد </h2>

 <h3> وله عدة صور  </h3>
        <p>
حقن السائل المنوى داخل الرحم
        <br>
اطفال الانابيب تلقيح صناعي  (ivf)
        <br>
     </p>
        <h3> خطواته  </h3>
        <p>
  تحفيز التبويض عند المراة
            <br>
  اخذ السائل المنوي من الرجل
            <br>
  سحب عدة بويضات من المرأة
            <br>

            عزل البويضات السليمة والحيونات المنوية السليمة
            <br>
  يجمع الحيوان المنوي والبويضة فى ظروف وبيئة مناسبة
        <br>
    </p>
        <h3>الحقن المجهرى</h3>
        <br>
<p>
وفيه يتم التلقيح من خلال حقن حيوان منوى داخل البويضة مباشرتا بعد تقشيرها
متابعة حدوث الاخصاب وبداية تكون جنين
فى خلال مدة تتراوح بين 5 الى 7 ايام يتم اعدة زرع البويضة المخصبة فى الرحم
مع وجود نفس خطوات التلقيح الصناعي
       </p>



</section >









    <!-- ***** Testimonials Ends ***** -->





    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us" style="background-image: url({% static 'images/schedule-bg.jpg' %})}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.9488725214082!2d31.342411315115626!3d30.066999981874194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzDCsDA0JzAxLjIiTiAzMcKwMjAnNDAuNiJF!5e0!3m2!1sen!2seg!4v1608073559448!5m2!1sen!2seg" width="600" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Subject">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2020 mg clinic
                    - Designed and developed by <a rel="nofollow" href="https://www.facebook.com/mohamed.eltayar.5283?comment_id=Y29tbWVudDozOTAwMTg2NjEzMzM0NDQ1XzM5MDAyNjYxMTk5OTMxNjE%3D" class="tm-text-link" target="_parent"> mft </a></p>
                    <!-- You shall support us a little via PayPal to info@templatemo.com -->
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script>
    <script src="{% static 'assets/js/mixitup.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
  </body>
</html>
