<!DOCTYPE html>
<html lang="en">
{% load static %}

  <head>
 <link rel="stylesheet" type="text/css" href=" {% static 'assets/css/bootstrap.min.css' %}">
 <link rel="stylesheet" type="text/css" href=" {% static  'assets/css/font-awesome.css' %">
 <link rel="stylesheet" type="text/css"  href=" {% static 'assets/css/templatemo-training-studio.css' %}">
 <link rel="stylesheet" type="text/css" href=" {% static 'assets/css/maqals1.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <title> MG blog </title>
<!--
-->
    <!-- Additional CSS Files -->
<style>
#mo {
position: relative;
top:100px;
padding-left: 30%;

}
#mo img{
padding-top: 5%;
    width: 210px;
    height: auto;
}

#com1 {
position: relative;
    width: 57%;
    height: 450px;
    background-color: #ffffff;
    overflow:auto
}
.lcom {
width: 57%;


}
@media (max-width: 500px) {
#mo {
position: relative;
top:100px;
padding-left: 8%;
padding-right: 8%;
}

#mo img{
    max-width:90%;
    width: auto;
    height: auto;
}

#com1 {
position: relative;
    width: 90%;
    height: 450px;
    background-color: #ffffff;
    overflow:auto
}
.lcom {
width: 90%;


}
</style>


    </head>
    <body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo"> <img src="{% static 'assets/images/1608070855306.png' %}" width="80px" height="45px" alt="waves"></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url 'front' %}">Home</a></li>
                            <li class="scroll-to-section"><a href="{% url 'vlog' %}" >vlog</a></li>
                            <li class="scroll-to-section"><a href="{% url 'blog' %}"class="active">blog</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
                            <li class="main-button"><a href="{% url 'home' %}">Sign Up</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

                     <!-- ***** Main Banner Area Start ***** -->

    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">

                            </div>


















            </div>
    </section  >
    <!-- ***** Features Item End ***** -->



       {% for maqal in maqals %}
<br>


           <div id="mo">
       <div class="card mb-3" style="max-width: 540px;">
       <div class="row g-0">
         <div class="col-md-4">
           <img src="{{maqal.pic.url}}" alt="..." >
             <img src="{{maqal.pic2.url}}" alt="..." >
         </div>
       <div class="col-md-8">
         <div class="card-body">
        <h4 class="card-title"style=" text-align: right; right:50px;">{{ maqal.titel }}</h4>
        <p class="card-text" style=" text-align: right;">{{ maqal.text }}</p>
        <p class="card-text" style="text-align: right"><small class="text-muted">  </small></p>
      </div>
    </div>
  </div>
     </div>
   <div> </div>
<div>
    <br>
<div class="lcom">
                <div class="d-flex flex-row add-comment-section mt-4 mb-4" style="width50%; "><input type="text" class="form-control mr-3" placeholder="Add comment" style=""><button class="btn btn-primary" type="button">Comment</button></div>
</div>

    comments ...
<hr>
    <br>

    <br>

<div id="com1">


<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>A well-known quote, contained in a blockquote element.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
    <br>


<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>A well-known quote, contained in a blockquote element.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
    <br>


    <div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>A well-known quote, contained in a blockquote element.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
    <br>




    </div>

     </div>
     </div>

       {% endfor %}







    <!-- ***** Testimonials Ends ***** -->





    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us" style="background-image: url({% static 'images/schedule-bg.jpg' %})}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.9488725214082!2d31.342411315115626!3d30.066999981874194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzDCsDA0JzAxLjIiTiAzMcKwMjAnNDAuNiJF!5e0!3m2!1sen!2seg!4v1608073559448!5m2!1sen!2seg" width="600" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
 			 {% csrf_token %}

                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Subject">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="massage" rows="6" id="massage" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2020 mg clinic
                    - Designed and developed by <a rel="nofollow" href="https://www.facebook.com/mohamed.eltayar.5283?comment_id=Y29tbWVudDozOTAwMTg2NjEzMzM0NDQ1XzM5MDAyNjYxMTk5OTMxNjE%3D" class="tm-text-link" target="_parent"> mft </a></p>
                    <!-- You shall support us a little via PayPal to info@templatemo.com -->
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script>
    <script src="{% static 'assets/js/mixitup.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
  </body>
</html>
