<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title>      </title>
<!--
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Bootstrap core CSS -->
    <link href="vendor1/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets1/css/fontawesome.css" />
    <link rel="stylesheet" href="assets1/css/templatemo-style.css" />
    <link rel="stylesheet" href="assets1/css/owl.css" />
    <link rel="stylesheet" href="assets1/css/lightbox.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <style> #stst{
              
              color: white;
              height: 60px;
              width: 100%;
          background-color: black;
          
              
              position: absolute;
          
              
          }
          
          #in{
              position: absolute;
              right: 50px;
              width: auto;
              height: 50px;
              padding: 10px;
          }
          
      </style>
  </head>

  <body>

     <div id="stst">
      
      <div id="in">
            

         <span class="hello-msg">Hello, {{request.user}}</span>
          
           <span>  <a class="hello-msg" href="{% url 'account' %}">Settings</a></span> 

<span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span> 
         </div>
      
      
      
      </div>
      
      
      
      <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="assets1/images/author-image.jpg" alt="" /></a> <!__ صورة سورس السيتنج __>
            </div>
            <div class="author-content">
              <h4> اسم الحالة </h4>
             
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">زياراتى </a></li>
                <li><a href="#section2">اشعة وتحاليل </a></li>
                <li><a href="#section3">ميعاد الولادة المتوقع </a></li>
              </ul>
            </nav>
           
            
            </div>
            
              
            </div>
          </div>
        
     
      
      <!___________________________>







      <!________________totoo__________________>

<section id="page" >


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">زيارات سابقة </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">زيارات تالية </a>
    </li>
  </ul>
</nav>
</section>
      <!________________totoo__________________>




<!//////////////////////////////>

<section id="hm" >
    <div id="tabBox">
  <div class="tabWrap">
    <input id="tab-01" name="tab" type="radio" checked />
    <label class="tab label-01" for="tab-01"><span>1</span></label>
    <!-- tabContent 01 -->
    <article class="tabContent">
      <h1>الشكوي </h1>
      <p>التشخيص </p>
    </article>
  </div>
  <div class="tabWrap">
    <input id="tab-02" name="tab" type="radio" />
    <label class="tab label-02" for="tab-02"><span>2</span></label>
    <!-- tabContent 02 -->
    <article class="tabContent">
      <h1> التوصية الطبية </h1>
      <p> الاشعة والتحاليل المطلوبة من الحالة </p>
    </article>
  </div>
  <div class="tabWrap">
    <input id="tab-03" name="tab" type="radio" />
    <label class="tab label-03" for="tab-03"><span>3</span></label>
    <!-- tabContent 02 -->
    <article class="tabContent">
      <h1>علاجى </h1>
      <p>مواعيد العلاج </p>
    </article>
  </div>
</div>

</section>
      
           <!___________________________>

      
                 <!___________________________>
        
        
        
        
        
        
        
        
        
        
        
        
        
           <!___________________________>

      
      
      
      
      
      
      
      
      
      
      
      
      
      

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor1/jquery/jquery.min.js"></script>
    <script src="vendor1/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets1/js/isotope.min.js"></script>
    <script src="assets1/js/owl-carousel.js"></script>
    <script src="assets1/js/lightbox.js"></script>
    <script src="assets1/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
          
      });
        
    $ new Vue({
    el: '#tabs',
    data: { activetab: '1' },
});  
    </script>
      
  </body>
</html>
